Repository gusdn3477/Tmax_Mainproject_team3, pull requests merged in 2021-11, with the labels that each got.

#73 jenkins test
  config-service/pom.xml
Labels: user-service

#74 test also
  config-service/pom.xml
Labels: user-service

#75 Jinhui4
  config-service/src/main/resources/bootstrap.yml
  hr-service/pom.xml
Labels: user-service

#79 error in user-service 처리
  user-service/src/main/resources/application.yml
Labels: hr-service, job-service

#81 hr Oauth 제거
  hr-service/pom.xml
  hr-service/src/main/java/com/example/hrservice/security/WebSecurity.java
  hr-service/src/main/java/com/example/hrservice/service/KakaoOAuth2UserService.java
  hr-service/src/main/resources/application.yml
Labels: hr-service

#82 docker test
  hr-service/src/main/resources/application.yml
Labels: hr-service

#83 hr forbiden
  hr-service/src/main/java/com/example/hrservice/security/WebSecurity.java
Labels: hr-service

#84 rabbit test
  hr-service/pom.xml
Labels: hr-service

#86 config 안씀
  config-service/src/main/resources/application.yml
  config-service/target/classes/application.yml
  hr-service/src/main/resources/application.yml
  user-service/src/main/resources/application.yml
Labels: user-service, hr-service

#87 마지막희망
  hr-service/src/main/resources/bootstrap.yml
Labels: user-service

#90 hr
  hr-service/pom.xml
  hr-service/src/main/java/com/example/hrservice/service/KakaoOAuth2UserService.java
  hr-service/src/main/resources/application-oauth.yml
  hr-service/src/main/resources/application.yml
Labels: hr-service

#93 asdasdsad
  hr-service/src/main/java/com/example/hrservice/security/WebSecurity.java
Labels: hr-service

#94 진짜 update
  hr-service/src/main/java/com/example/hrservice/security/WebSecurity.java
Labels: hr-service

#95 update
  user-service/src/main/java/com/example/userservice/security/WebSecurity.java
Labels: user-service

#100 Hyunwoo4
  user-service/src/main/java/com/example/userservice/controller/UserController.java
  user-service/src/main/java/com/example/userservice/security/WebSecurity.java
  user-service/src/main/java/com/example/userservice/service/CustomOAuth2UserService.java
  user-service/src/main/java/com/example/userservice/service/UserServiceImpl.java
  user-service/src/main/java/com/example/userservice/vo/RequestUpdateUser.java
  user-service/src/main/resources/application-oauth.yml
Labels: user-service

#102 Jinhui4
  user-service/src/main/java/com/example/userservice/controller/UserController.java
  user-service/src/main/java/com/example/userservice/security/WebSecurity.java
Labels: user-service

#103 합격자명단수정
  process-service/src/main/java/com/example/processservice/service/InterviewServiceImpl.java
  process-service/src/main/java/com/example/processservice/vo/ResponseInterviewFinal.java
Labels: process-service

#105 user update
  user-service/src/main/java/com/example/userservice/jpa/CorpRepository.java
Labels: user-service

#107 process 오류
  process-service/src/main/java/com/example/processservice/service/InterviewServiceImpl.java
Labels: process-service

#108 확실함 이제
  process-service/src/main/java/com/example/processservice/service/InterviewServiceImpl.java
Labels: process-service
